POSTGRES_USER=sitewatch
POSTGRES_PASSWORD=sitewatch
POSTGRES_DB=sitewatch
POSTGRES_URL=postgres://sitewatch:sitewatch@localhost:5432/sitewatch

MONGO_USER=sitewatch
MONGO_PASSWORD=sitewatch
MONGO_DB=sitewatch
MONGO_URL=mongodb://sitewatch:sitewatch@localhost:27017/?authSource=admin
# MONGO_MAX_POOL_SIZE=20

API_PORT=8080
# CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
# POSTGRES_MAX_CONNS=10
# RATE_LIMIT_RPS=20
# RATE_LIMIT_BURST=40

MQTT_BROKER_URL=tcp://localhost:1883
# INGESTION_PORT=8081
# INGESTION_WORKER_COUNT=4
# INGESTION_QUEUE_SIZE=256
# ALERT_DEBOUNCE_BREACHES=3
