POSTGRES_USER=sitewatch
POSTGRES_PASSWORD=sitewatch
POSTGRES_DB=sitewatch
POSTGRES_URL=postgres://sitewatch:sitewatch@localhost:5432/sitewatch

MONGO_USER=sitewatch
MONGO_PASSWORD=sitewatch
MONGO_DB=sitewatch
MONGO_URL=mongodb://sitewatch:sitewatch@localhost:27017/?authSource=admin

API_PORT=8080
# CORS_ALLOWED_ORIGIN=http://localhost:5173
# POSTGRES_MAX_CONNS=10

MQTT_BROKER_URL=tcp://localhost:1883
