# Go
/api/bin/
/ingestion/bin/
/api/api
/ingestion/ingestion
*.exe
*.test
*.out

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Node / simulator
simulator/node_modules/
simulator/dist/

# Env
.env
*.local

# Docker
infra/postgres/data/
infra/mongo/data/
infra/mosquitto/data/
infra/mosquitto/log/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
